/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #ffffff;
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; }

.logo {
    text-align: center;
}

.logo img {
    width: 55%;
    height: 55%;
}

.footer-logo {
    width: 45%;
    height: 30%;
    text-align: center;
}

.description-img {
    text-align: center;
    width: 60%;
    height: 60%; 
}

.hfonts {
    font-family: 'Montserrat', sans-serif;
}

.media-icons {
    color: black;
    font-size: 3.0em;
}

.tim-row{
    margin-bottom: 1.25em;
}

.tim-white-buttons {
    background-color: #777777;
}
.tim-title{
    margin-top: 1.875em;
    margin-bottom: 1.5625em;
    min-height: 2em;
}
.tim-title.text-center{
    margin-bottom: 3.125em;
}
.typography-line{
    padding-left: 11.25em;
    margin-bottom: 1.25em;
    position: relative;
    width: 100%;
}
.typography-line .note{
    bottom: 0.625em;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 0.8125em;
    left: 0;
    margin-left: 1.25em;
    position: absolute;
    width: 16.25em;
}
.tim-row{
    padding-top: 3.125em;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 1.25em;
}
#navbar-full .navbar{
    display: absolute;
    border-radius: 0 !important;
    margin-bottom: 0;
    z-index: auto;
}

.space{
    height: 8.125em;
    display: block;
}
.space-110{
    height: 6.875em;
    display: block;
}
.space-50{
    height: 3.125em;
    display: block;
}
.space-70{
    height: 4.375em;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.main{
    background-color: #fff;
    width: 100vw;
/*     position: relative; */

}
.navigation-example{
    background-image: url('../img/ilya-yakover.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top:0;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
#carousel{
    padding-top: 0;
}
.note{
    text-transform: capitalize;
}
.subscribe-form{
    padding-top: 1.25em;
}
.page-header .card-register .title{
    margin-bottom: 0.625em;
}
.space-100{
    height: 6.25em;
    display: block;
    width: 100%;
}
.sharing-area .btn{
    padding: 0.5rem 0.625em !important;
}

.be-social{
    padding-bottom: 1.25em;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 2.5em;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}
.footer{
    background-attachment: fixed;
    position: relative;
    line-height: 1.25em;
}
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul > li{
    display: inline-block;
    padding: 0.625em 0.9375em;
    margin: 0.9375em 0.1875em;
    line-height: 1.25em;
    text-align: center;
}

.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 0.1875em;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #E3E3E3;
}
.footer .copyright {
  color: #777777;
  padding: 0.625em 0.9375em;
  font-size: 0.875em;
  margin: 0.9375em 0.1875em;
  line-height: 1.25em;
  text-align: center;
}
.footer .heart{
    color: #EB5E28;
}

.social-share{
    float: left;
    margin-right: 0.5em;
}
.social-share a{
    color: #FFFFFF;
}
#subscribe_email{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.pick-class-label{
    border-radius: 0.5em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.625em;
    padding: 1.4375em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.parallax{
    width:100%;
    height:35.625em;
    display: block;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 0.0625em solid #333333;
    width: 3.125em;
    float: left;
}

.logo-container .brand{
    font-size: 1.125em;
    color: #FFFFFF;
    line-height: 1.25em;
    float: left;
    margin-left: 0.625em;
    margin-top: 0.3125em;
    width: 4.6875em;
    height: 3.125em;
}
.logo-container{
    margin-top: 0.3125em;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}
.demo-header{
    background-size: cover;
    /*background-color: #FF8F5E;*/
    background-position: center top;
    margin-top: -6.25em;
    min-height: 37.5em;
}
.demo-height{
    min-height: 102vh;
}
.demo-height .motto{
    padding-top: 20% !important;
}
.demo-header-image{
    background-image: url('../img/city.jpg');
}
.demo-header .motto{
    color: #000000;
    padding-top: 15%;
    text-align: center;
    z-index: 3;
}
.demo-header .motto h3{
    margin-bottom: 0;
}
.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 1.25em;
}
.separator-line{
    background-color: #EEE;
    height: 0.0625em;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 0.3125em;
    margin-bottom: 0.4375em;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}
.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 61.875em){
    .lightbox .modal-dialog{
        width: 60em;
    }
}

.black {
    color: black;
}

@media screen {
    .section-buttons .btn,
    .section-buttons .btn-morphing{
        margin-bottom: 0.625em;
    }
    .parallax .motto{
        top: 10.625em;
        margin-top: 0;
        font-size: 3.75em;
        width: 16.875em;
    }
}

.presentation .loader{
    opacity: 0;
    display: block;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1031;
    margin-left: -2em;
    margin-top: -2em;
}
.presentation  .loader.visible{
    display: block;
    opacity: 1;
}
.presentation  .modal-content{
    background-color: transparent;
    box-shadow: 0 0 0;
}
.presentation .modal-backdrop.in{
    opacity: 0.45;
}
.presentation .preload-image{
    display: none;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.15), 0 0 0.0625em 0.0625em rgba(0, 0, 0, 0.1);
}
/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.presentation .section{
    padding: 6.25em 0;
}
.presentation .colors{
    padding: 6.25em 0;
}
.presentation > .description{
    padding-top: 1.25em;
}
.presentation .section-rotation{
    padding: 8.75em 0;
}
.presentation .section-images{
    padding: 5em 0;
}
.presentation .section-thin{
    padding: 0;
}
.presentation .section-pay{
    padding-top: 1.25em;
}
.presentation .colors{
    padding: 4.375em 0;
    z-index: 7;
    position: relative;
    margin-top: -18.75em;
}
.presentation .colors{
    border-top: 0.0625em solid #DDDDDD;
}
.presentation .card-container{
     -webkit-perspective: 50em;
    -moz-perspective: 50em;
    -o-perspective: 50em;
    perspective: 50em;
    min-height: 31.25em;
    width: 18.75em;
    position: relative;
    margin-top: 5.625em;
}
.presentation .card-component{
    -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
	height: 37.5em;
}
.presentation .card-component .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY( -28deg );
    -moz-transform: rotateY( -28deg );
    -o-transform: rotateY( -28deg );
    transform: rotateY( -28deg );

	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 0.625em 0.25em 0.875em rgba(0, 0, 0, 0.12);
    border-radius: 0.625em;
    overflow: hidden;
    border: 0.0625em solid rgba(0,0,0,.12);
}

.presentation .front img{
    z-index: 2;
    position: relative;
}

.presentation .card-container:hover .front{
    top: -0.625em;
}

.presentation .card-component img{
    width: 100%;
}
.presentation .description .col-md-3{
    width: 16%;
    margin-left: 4%;
}
.presentation .first-card{
    z-index: 6;
}
.presentation .second-card{
    z-index: 5;
}
.presentation .third-card{
    z-index: 4;
}
.presentation .fourth-card{
    z-index: 3;
}
.presentation h1,
.presentation h2{
    font-weight: 200;
}
.presentation h4,
.presentation h5,
.presentation h6{
    font-weight: 300;
}
.presentation h4{
    font-size: 1.125em;
    line-height: 1.5em;
}
.presentation .info h4{
    font-size: 1.5em;
    line-height: 1.75em;
}

.presentation .section-gray h1 small{
    color: #888888;
}
.presentation .color-container{
    text-align: center;
}
.presentation .color-container img{
    width: 100%;
    margin-bottom: 0.625em;
}
.presentation .circle-color{
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.625em;
    display: block;
    background-color: #cccccc;
    margin: 0 auto;
}
.presentation .circle-red{
    background-color: #ff3b30;
}
.presentation .circle-blue{
    background-color: #3472f7;
}
.presentation .circle-azure{
    background-color: #2ca8ff;
}
.presentation .circle-green{
    background-color: #05ae0e;
}
.presentation .circle-orange{
    background-color: #ff9500;
}

.presentation .section-gray-gradient{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(231,231,231,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}
.presentation .section-black{
    background-color: #333;
}

.rotating-card-container {
    -webkit-perspective: 56.25em;
   -moz-perspective: 56.25em;
     -o-perspective: 56.25em;
        perspective: 56.25em;
        margin-bottom: 1.875em;
}

.rotating-card {
   -webkit-transition: all 1.3s;
   -moz-transition: all 1.3s;
     -o-transition: all 1.3s;
        transition: all 1.3s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;

    margin-top: 1.25em;
  position: relative;
   background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 1.25em;
    color: #444444;
}
.rotating-card-container .rotate,
.rotating-card .back{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.rotating-card-container:hover .rotate{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


.rotating-card .front,
.rotating-card .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 0.1875em 1.0625em rgba(0,0,0,.15);
}

.rotating-card .front {
    z-index: 2;
}

.rotating-card .back {
    z-index: 3;
    height: 31.25em;
    width: 100%;
    display: block;
    padding: 0 0.9375em;
    background-color: #e5e5e5;
}

.rotating-card .back-contaier {
  background-color: white;
  padding: 1.875em 0.9375em;

}

.rotating-card .image{
    border-radius: 1.25em 1.25em 0 0;
}
.rotating-card-container,
.rotating-card .front,
.rotating-card .back {
  width: 100%;
  min-height: 31.25em;
  border-radius: 1.25em;
}
/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .rotating-card .front, .rotating-card .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }
    .rotating-card .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .rotating-card .front{
        z-index: 4;
    }
    .rotating-card-container:hover .back{
        z-index: 5;
        visibility: visible;
    }
}

.fixed-section{
    top: 6.25em;
    max-height: 80vh;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    bottom: auto;
}
.fixed-section ul{
    padding: 0 !important;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 0.875em;
    padding: 0.125em;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}

/* prettyprint */
 pre.prettyprint{
    background-color: #eee !important;
    margin-bottom: 1.875em;
    margin-top: 1.875em;
    padding: 1.25em !important;
    font-size: 0.8125em;
    text-align: left;
    border-radius: 0.25em !important;
    border: 0.0625em transparent !important;
}
.presentation .atv,
.presentation .str{
    color: #0D9814;
}
.presentation .tag,
.presentation .pln,
.presentation .kwd{
    color: #195CEC;
}
.presentation .atn{
    color: #2C93FF;
}
.presentation .pln{
    color: #333;
}
.presentation .com{
    color: #999;
}

.presentation .text-white{
    color: #FFFFFF;
    text-shadow: 0 0.0625em 0.125em rgba(0,0,0,.13);
}
.presentation .section-images .card-image{
    border-radius: 0.375em 0.375em 0 0;
    overflow: hidden;
    box-shadow: 0 -0.1875em 0.5em rgba(0,0,0,0);
}
.presentation .section-images .card-image .image{
/*     border-radius: 6px; */
}
@media (max-width: 75em){
    .presentation .section-images .image img{
        width: 100%;
    }

}
.presentation .card-text-adjust{
    padding-left: 2.5em;
}
.presentation .info.info-separator{
    position: relative;
}
.presentation .info.info-separator:after{
    height: 100%;
    position: absolute;
    background-color: #ccc;
    width: 0.0625em;
    content: "";
    right: -0.4375em;
    top: 0;
}
.presentation .info li{
    padding: 0.3125em 0;
    border-bottom: 0.0625em solid #E5E5E5;
    color: #666666;
}
.presentation .info ul{
    width: 15em;
    margin: 0.625em auto;
}
.presentation .info li:last-child{
    border: 0;
}

/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 3.125em;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

#layerHover{
  top: 1.875em;
}
#layerImage{
    top: 3.125em;
}
#layerBody{
  top: 4.6875em;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.down {
  transform: translate(0,2.8125em);
  -moz-transform: translate(0,2.8125em);
  -webkit-transform: translate(0,2.8125em);
}

.down-2x {
   transform: translate(0,5.625em);
  -moz-transform: translate(0,5.625em);
  -webkit-transform: translate(0,5.625em);
}


.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.section-thin{
    padding-bottom: 0;
}

.info.info-separator{
    position: relative;
}
.info.info-separator:after{
    height: 100%;
    position: absolute;
    background-color: #ccc;
    width: 0.0625em;
    content: "";
    right: -0.4375em;
    top: 0;
}
@media (max-width: 47.9375em){
.info.info-separator:after{
    display: none;
  }
}
.info li{
    padding: 0.3125em 0;
    border-bottom: 0.0625em solid #E5E5E5;
    color: #666666;
}
.info ul{
    width: 15em;
    margin: 0.625em auto;
}
.info li:last-child{
    border: 0;
}
.payment-methods i {
    font-size: 1.75em;
    padding: 0 0.1875em;
    width: 2.375em;
}
.payment-methods h4 {
    font-size: 1.125em;
    line-height: 2.375em;
}
.info .description .btn{
    width: 0.9375em;
    font-weight: 500;
}
#buyButtonHeroes{
    margin-top: 1.9375em;
}
.right-click{
    width: 100%;
    height: 100%;
    background: #000000;
    position: fixed;
    z-index: 20000;
    display: none;
}
.onclick{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20001;
}
.container-right-click{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container-right-click .card-price#card-price-small{
    margin-top: 4.375em;
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 20003;

}
.container-right-click .card-price#card-price-big{
    margin-top: 2.5em;
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
      position: relative;
    z-index: 20003;

}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -187.5em, 0);
            transform: translate3d(0, -187.5em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 1.5625em, 0);
            transform: translate3d(0, 1.5625em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -0.625em, 0);
            transform: translate3d(0, -0.625em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 0.3125em, 0);
            transform: translate3d(0, 0.3125em, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -187.5em, 0);
            transform: translate3d(0, -187.5em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 1.5625em, 0);
            transform: translate3d(0, 1.5625em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -0.625em, 0);
            transform: translate3d(0, -0.625em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 0.3125em, 0);
            transform: translate3d(0, 0.3125em, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.container-right-click h4{
    color: white;margin-top: 2.8125em;font-weight: 200;margin-bottom: 0;
}
.icon-class{
    fill: #75c3b6;
}
.navbar-header{
    min-width: 8.4375em;
}

#demo-navbar{
    border-radius: 0;
    margin-bottom: 0em;
}
.download-area{
    margin-top: 1.875em;
}
.sharing-area{
    margin-top: 3.125em;
}
.sharing-area .btn{
    margin-top: 0.875em;
}

/* nucleo icons  */

.demo-iconshtml {
    font-size: 62.5%;
}
.demo-icons body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: white;
}
.demo-icons a {
    color: #608CEE;
    text-decoration: none;
}
.demo-icons header {
    text-align: center;
    padding: 6.25em 0 0;
}
.demo-icons header h1 {
    font-size: 2.8rem;
}
.demo-icons header p {
    font-size: 1.4rem;
    margin-top: 1em;
}
.demo-icons header a:hover {
    text-decoration: underline;
}
.demo-icons .nc-icon {
    font-size: 2.125em;
}
.demo-icons section {
    width: 90%;
    max-width: 75em;
    margin: 3.125em auto;
}
.demo-icons section h2 {
    border-bottom: 0.0625em solid #e2e2e2;
    padding: 0 0 1em .2em;
    margin-bottom: 1em;
}
.demo-icons ul::after {
    clear: both;
    content: "";
    display: table;
}
.demo-icons ul li {
    width: 25%;
    float: left;
    padding: 1em 0;
    text-align: center;
    border-radius: .25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
.demo-icons ul li:hover {
    background: #f4f4f4;
}
.demo-icons ul p, .demo-icons ul em, .demo-icons ul input {
    display: inline-block;
    font-size: 1rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.demo-icons ul p {
    padding: 1.25em 0 0;
    font-size: 0.75em;
    margin: 0;
}
.demo-icons ul p::selection, .demo-icons ul em::selection {
    background: #608CEE;
    color: #efefef;
}
.demo-icons ul em {
    margin-bottom: 0.5em;
    font-size: 0.75em;
}
.demo-icons ul em::before {
    content: '[';
}
.demo-icons ul em::after {
    content: ']';
}
.demo-icons ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    display: none;
}

@media only screen and (min-width: 48em) {
    .demo-icons ul li {
        width: 20%;
        float: left;
    }
}
@media only screen and (min-width: 64em) {
    .demo-icons ul li {
        width: 12.5%;
        float: left;
        padding: 2em 0;
    }
}

@media screen and (max-width: 61.9375em){
    .following .follows .row{
        text-align: center;
    }

}

/* for components and tutorial page */
    /*pre.prettyprint{
        background-color: #FFFCF5;
        border: 0px;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 20px;
        text-align: left;
    }*/
.atv, .str{
    color: #75c3b6;
}
.tag, .pln, .kwd{
    color: #7A9E9F;
}
.atn{
    color: #68B3C8;
}
.pln{
    color: #333;
}
.com{
    color: #999;
}
.space-top{
    margin-top: 1.875em;
}
.area-line{
    /*border: 1px solid #999;*/
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 1.25em;
    padding: 0.5em 0;
    text-align: center;
}
.area-line a{
    color: #666;
}
.container-fluid{
    padding-right: 0.9375em;
    padding-left: 0.9375em;
}
.example-pages{
    margin-top: 3.125em;
}
.main .section:first-of-type{
    position: relative;
    z-index: 2;
}
.profile-content{
    padding-top: 0;
    position: relative;
    z-index: 2;
}



.card-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0.3em;
    perspective: 56.25em;
    text-align: center;
}
.card {
  position: relative;
  display: inline-block;
  width: 25em;
  height: 25em;
  background: rgba(255, 255, 255, 0);
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
    color: black;
    backface-visibility: hidden;
  }
  .front {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
  }
  .back {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
  }
   
  .card-container:hover .card {
    transform: rotateY(180deg);
  }
  .back {
    transform: rotateY(180deg);
  }